body
{
    background-color: darkslategray;
    color: rgb(159, 159, 175);
    text-align: center;
    font-family: "lato";
    font-size: 16px;
    margin: 0;
    padding: 0;

}

#cabecera 
{
    background: blue;
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
}
#logo
{
    width: 20px;
}

#container

{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid blueviolet;
    margin: auto;

}

#container h1
{
    font-size: 20px;
}